<p-scrollPanel [style]="{ width: '100%', height: '100%' }" styleClass="sidebar__scroll">
  @if (!collapsed()) {
    <p-image
      src="https://raw.githubusercontent.com/Mjlc21gr/Synapse/main/Img/CleverFlow.png"
      alt="CleverFlow Logo"
      width="48"
      styleClass="sidebar__logo" />

    <p-divider styleClass="sidebar__divider" />

    <p-panelMenu
      [model]="menuItems"
      [multiple]="true"
      styleClass="sidebar__menu" />
  } @else {
    @for (item of collapsedItems; track item.routerLink) {
      @if (item.isFirstInGroup && !$first) {
        <p-divider styleClass="sidebar__icon-divider" />
      }
      <p-button
        [icon]="item.icon"
        [rounded]="true"
        [text]="true"
        severity="contrast"
        [pTooltip]="item.label"
        tooltipPosition="right"
        [routerLink]="item.routerLink"
        (onClick)="itemSelected.emit()"
        styleClass="sidebar__icon-btn" />
    }
  }
</p-scrollPanel>
