<p-panel header="Bienvenido a CleverFlow" styleClass="inicio__header">
  <p-fluid>
    <section class="inicio__grid">
      <p-card styleClass="inicio__card">
        <ng-template #header>
          <p-image
            src="https://i.imgur.com/d9pQdEq.png"
            alt="Quiénes Somos"
            width="100%"
            styleClass="inicio__card-img" />
        </ng-template>
        <ng-template #title>Quiénes Somos</ng-template>
        <ng-template #content>
          <p>Somos un equipo de profesionales dedicados a la atención y solución de problemas relacionados con la reparación del hogar.</p>
        </ng-template>
      </p-card>

      <p-card styleClass="inicio__card">
        <ng-template #header>
          <p-image
            src="https://i.imgur.com/Nmr29tH.png"
            alt="Qué Hacemos"
            width="100%"
            styleClass="inicio__card-img" />
        </ng-template>
        <ng-template #title>Qué Hacemos</ng-template>
        <ng-template #content>
          <p>Nos encargamos de recibir y gestionar solicitudes de reparación para hogares, brindando seguimiento constante.</p>
        </ng-template>
      </p-card>

      <p-card styleClass="inicio__card">
        <ng-template #header>
          <p-image
            src="https://i.imgur.com/FmKqFFS.jpeg"
            alt="Soporte"
            width="100%"
            styleClass="inicio__card-img" />
        </ng-template>
        <ng-template #title>Soporte</ng-template>
        <ng-template #content>
          <p>Asistencia técnica de la aplicación.</p>
        </ng-template>
      </p-card>
    </section>
  </p-fluid>
</p-panel>
