<p-toolbar styleClass="topbar">
  <ng-template #start>
    <p-button
      icon="pi pi-bars"
      [text]="true"
      severity="contrast"
      (onClick)="onToggleSidebar()"
      ariaLabel="Alternar menú lateral" />
    <p-tag styleClass="topbar__title" value="CLEVERFLOW" [rounded]="true" />
  </ng-template>

  <ng-template #end>
    <p-button
      icon="pi pi-home"
      [text]="true"
      severity="contrast"
      routerLink="/inicio"
      ariaLabel="Ir al inicio"
      styleClass="topbar__home-btn" />
    <p-avatar
      icon="pi pi-user"
      shape="circle"
      styleClass="topbar__avatar" />
    <p-tag styleClass="topbar__user-name" [value]="userName()" severity="contrast" />
  </ng-template>
</p-toolbar>
