<app-seccion-formulario-dinamico
  legend="Información del Asegurado"
  [campos]="camposAsegurado"
  [valores]="valoresAsegurado()"
  (valoresChange)="valoresAsegurado.set($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-formulario-dinamico
  legend="Información del Radicado"
  [campos]="camposRadicado"
  [valores]="valoresRadicado()"
  (valoresChange)="valoresRadicado.set($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-formulario-dinamico
  legend="Información del Siniestro"
  [campos]="camposSiniestro"
  [valores]="valoresSiniestro()"
  (valoresChange)="valoresSiniestro.set($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-formulario-dinamico
  legend="Información Bancaria"
  [campos]="camposBancaria"
  [valores]="valoresBancaria()"
  (valoresChange)="valoresBancaria.set($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-formulario-dinamico
  legend="Número del Siniestro"
  [campos]="camposNumeroSiniestro"
  [valores]="valoresNumeroSiniestro()"
  (valoresChange)="valoresNumeroSiniestro.set($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-archivos (filesSelected)="onFilesSelected($event)" />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-panel-generico header="Historial del Caso" emptyMessage="Sin historial registrado." />

<hr style="border: none; border-top: 1px solid #e1e1e1; margin: 0.75rem 0" />

<app-seccion-observaciones-generica
  legend="Observaciones del Radicado"
  [(valor)]="observacionRadicado" />
