<p-panel header="Radicaciones">
  <ng-template #icons>
    <p-button
      label="Agregar Caso"
      icon="pi pi-plus"
      severity="success"
      size="small"
      (onClick)="openAgregarCaso()" />
    <p-button
      label="Mesa de Perfeccionamiento"
      icon="pi pi-sync"
      severity="warn"
      size="small"
      [outlined]="true"
      (onClick)="openMesaPerfeccionamiento()" />
  </ng-template>

  <app-tabla-dinamica
    [columnas]="columnas"
    [datos]="data()"
    [loading]="loading()"
    [showActions]="true"
    [acciones]="acciones"
    (accionEjecutada)="onAccion($event)" />
</p-panel>

<app-modal-agregar-caso
  [visible]="showModalAgregarCaso()"
  (onClose)="closeAgregarCaso()" />

<app-modal-mesa-perfeccionamiento
  [visible]="showModalMesaPerfeccionamiento()"
  (onClose)="closeMesaPerfeccionamiento()" />
