<p-fieldset legend="Datos del Asegurado">
  <p-fluid>
    <section class="form-grid">
      <label>Nombre Cliente
        <input pInputText [ngModel]="nombreCliente()" [readonly]="true" />
      </label>
      <label>Tipo Documento
        <input pInputText [ngModel]="tipoDocumentoClever()" [readonly]="true" />
      </label>
      <label>Número Documento
        <input pInputText [ngModel]="numeroDocumentoClever()" [readonly]="true" />
      </label>
      <label>Tipo Persona
        <input pInputText [ngModel]="tipoPersona()" [readonly]="true" />
      </label>
      <label>Nombre Empresa
        <input pInputText [ngModel]="nombreEmpresaData()" [readonly]="true" />
      </label>
      <label>Estado Cliente
        <input pInputText [ngModel]="estadoCliente()" [readonly]="true" />
      </label>
    </section>
  </p-fluid>
</p-fieldset>
