<app-seccion-consulta
  [(consultaTipoDoc)]="consultaTipoDoc"
  [(consultaNumDoc)]="consultaNumDoc"
  (consultar)="consultarDataOperativa()" />

@if (showResultadosData()) {
  <p-divider />

  <app-seccion-formulario-dinamico
    legend="Datos del Asegurado"
    [campos]="camposDatosAsegurado"
    [valores]="valoresDatosAsegurado()"
    (valoresChange)="valoresDatosAsegurado.set($event)" />

  <p-divider />

  <app-seccion-formulario-dinamico
    legend="Demográfica"
    [campos]="camposDemografica"
    [valores]="valoresDemografica()"
    (valoresChange)="valoresDemografica.set($event)" />

  <p-divider />

  <app-seccion-panel-generico header="Portafolio" emptyMessage="Sin datos de portafolio." />
  <app-seccion-panel-generico header="Siniestros" emptyMessage="Sin datos de siniestros." />
  <app-seccion-panel-generico header="Asistencias" emptyMessage="Sin datos de asistencias." />
}
